{% extends "base.html" %} {% block body %}
<h1>Edit Patient {{ patient['name'] }}</h1>
<form method="post">
    <label for="name">Name</label>
    <br />
    <input type="text" name="name" placeholder="Patient name" value="{{ patient['name'] }}" />
    <br />

    <label for="assistant_id">Select assistant</label>
    <select id="assistant_id" name="assistant_id">
        {% for assistant in assistants %}
        <option value="{{ assistant['id'] }}">{{ assistant['name'] }}</option>
        {% endfor %}
    </select>
    <br />

    {% if role == "doctor" %}
    <label for="treatment_id">Select treatment</label>
    <select id="treatment_id" name="treatment_id">
        {% for treatment in treatments %}
        <option value="{{ treatment['id'] }}">{{ treatment['name'] }}</option>
        {% endfor %}
    </select>

    <br />
    {% endif %}

    <button type="submit">Submit</button>
</form>
{% endblock %}